In [1]:
# H0 --> equal
# H1 --> diffrent

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

In [4]:
df = pd.read_csv('orange_trees.csv')
df.head()

   tree_number     oranges
0         1223  305.470796
1         1224  208.357224
2         1225  318.145987
3         1226  274.531146
4         1227  245.627474

In [5]:
df.describe()

       tree_number     oranges
count    133.00000  133.000000
mean    1289.00000  277.852803
std       38.53786   50.922243
min     1223.00000  137.023145
25%     1256.00000  237.696112
50%     1289.00000  279.470482
75%     1322.00000  312.079787
max     1355.00000  434.025714

In [6]:
population_mean = 271.93

In [7]:
277.852803 - 271.93

5.922802999999988

In [8]:
stats.ttest_1samp(a=df['oranges'], popmean=population_mean)

Ttest_1sampResult(statistic=1.3413606837344205, pvalue=0.18210666026278102)

In [9]:
# Two Sample T-Test
df_ielts_98 = pd.read_csv('ielts_IR.csv')
df_ielts_99 = pd.read_csv('ielts_IRQ.csv')

In [10]:
df_ielts_98.head()

   student_code     ielts
0        278917  6.330613
1        278918  7.275424
2        278919  7.012370
3        278920  5.564860
4        278921  5.607750

In [11]:
df_ielts_99.head()

   student_code     ielts
0       3141112  8.725932
1       3141113  8.144126
2       3141114  6.419268
3       3141115  5.458811
4       3141116  9.303161

In [16]:
df_ielts_98['ielts'].sample(len(df_ielts_99['ielts']))

407    8.386406
214    6.226475
691    6.353880
578    8.793473
317    4.923920
         ...
503    5.091119
112    6.883899
502    5.147796
688    8.376260
302    6.763629
Name: ielts, Length: 730, dtype: float64

In [17]:
stats.pearsonr(df_ielts_98['ielts'].sample(len(df_ielts_99['ielts'])), df_ielts_99['ielts'])

(-0.0063498413902395336, 0.8640106907323033)

In [12]:
df_ielts_98.describe()

        student_code       ielts
count     820.000000  820.000000
mean   279326.500000    6.754804
std       236.857904    1.178691
min    278917.000000    3.094945
25%    279121.750000    5.971638
50%    279326.500000    6.775687
75%    279531.250000    7.532372
max    279736.000000   10.159504

In [13]:
df_ielts_99.describe()

       student_code       ielts
count  7.300000e+02  730.000000
mean   3.141476e+06    6.956215
std    2.108771e+02    0.964884
min    3.141112e+06    3.988457
25%    3.141294e+06    6.302632
50%    3.141476e+06    6.912297
75%    3.141659e+06    7.617062
max    3.141841e+06    9.772641

In [19]:
stats.ttest_ind(a=df_ielts_98['ielts'], b=df_ielts_99['ielts'])

Ttest_indResult(statistic=-3.6538217675570452, pvalue=0.0002669844261312853)

In [18]:
# Tow Sample Relative
df = pd.read_csv('weights_change.csv')
df.head()

   weight_before  weight_after
0      65.126024     69.579014
1      67.081931     70.142003
2      72.380314     67.482958
3      63.592077     64.890133
4      57.333414     70.430886

In [19]:
df['E'] = df['weight_before'] - df['weight_after']
df

     weight_before  weight_after          E
0        65.126024     69.579014  -4.452990
1        67.081931     70.142003  -3.060071
2        72.380314     67.482958   4.897355
3        63.592077     64.890133  -1.298057
4        57.333414     70.430886 -13.097472
..             ...           ...        ...
405      74.991003     67.906931   7.084071
406      63.118637     71.265986  -8.147349
407      72.918886     72.460058   0.458828
408      65.374450     76.467726 -11.093275
409      66.525911     69.667905  -3.141994

[410 rows x 3 columns]

In [20]:
df.describe()

       weight_before  weight_after           E
count     410.000000    410.000000  410.000000
mean       68.863354     70.425341   -1.561987
std         5.243526      4.975498    7.087520
min        53.647173     56.991774  -20.552349
25%        65.136296     67.184292   -6.594944
50%        68.669384     70.455450   -1.356350
75%        72.729821     73.506856    3.218378
max        85.056591     86.939716   22.731998

In [21]:
df.corr()

               weight_before  weight_after         E
weight_before       1.000000      0.038660  0.712686
weight_after        0.038660      1.000000 -0.673407
E                   0.712686     -0.673407  1.000000

In [17]:
stats.ttest_rel(a=df['weight_before'], b=df['weight_after'])

Ttest_relResult(statistic=-4.462467504284239, pvalue=1.0488324309628662e-05)

In [ ]:
0.0000010